.weatherBackground {
  width: 70%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  position: relative;
}



.ShowOutput{
  display: flex;
  align-items:center;
  justify-content: center;
}

.leftTopSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.CityDateTime{
  margin:0 2rem;
}

.currentWeather{
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}

.currentTemp{
  font-size: 5rem;
}
.currentLocation{
  font-size: 2rem;
  padding: .3rem 1rem;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.currentDateAndTime{
  font-size: 1.1rem;
  margin-top: .3rem;
}


.weatherType{
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -.5rem;
}

.weatherImage{
  width: 3.5rem;
  margin-bottom: .5rem;
  background-color: rgba(220, 220, 220, 0.07);
  border-radius: 50%;
}
.weatherType p{
  font-size: .9rem;
}




@media screen and (max-width:600px) {
  .weatherBackground {
    width: 100vw;
    height: 60%;
    padding: 1rem;
  }

  .currentTemp{
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
  }
  .currentLocation{
    margin:  0rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .currentWeather{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  

  
  
  
}