.weatherBackground {
  width: 70%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  position: relative;
}


.ShowOutput{
  display: flex;
  align-items:center;
  justify-content: center;
}

.CityDateTime{
  margin: 1rem  2rem;
}

.currentWeather{
  position: absolute;
  bottom: 2rem;
}

.currentTemp{
  font-size: 5rem;
}
.currentLocation{
  font-size: 2rem;
}
.currentDateAndTime{
  font-size: 1.1rem;
  margin-top: .3rem;
}


.weatherIcon{
  font-size: 2rem;
  
}



@media screen and (max-width:600px) {
  .weatherBackground {
    width: 100vw;
    height: 60%;
    padding: 1rem;
  }

  .currentTemp{
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
  }
  .currentLocation{
    margin:  0rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .currentWeather{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  

  
  
  
}