.rightSide {
  width: 30%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(30px);
  border-top: 1px solid #ffffff18;
  border-bottom: 1px solid #ffffff18;
  border-right: 1px solid #ffffff18;
}

.SearchSection {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.7rem;
}
.searchBar {
  width: 100%;
  padding: 1.2rem 0;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #808080ab;
  color: #ffffff;
  font-size: 1rem;
}
.searchBar::placeholder{
  color: rgba(255, 255, 255, 0.733);
  font-size: .9rem;

}

.searchButton {
  padding: 1.3rem;
  margin-left: 0.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: coral;
  cursor: pointer;
}


.weatherDetailsSection{
  padding: 2rem 0  2rem 2.5rem;
}
.weatherDetailsTxt{
  margin: 1.3rem 0;
  font-size: 1.2rem;
}
.weatherDetailsTxt::after{
  content: "";
  display: block;
  width: 15%;
  height: 0px;
  margin-top: .5rem;
  border: 1px solid coral;
}


.WeatherDetails{
  max-height: 65vh;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 2.5rem;
}

.details_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details_list span{
  font-size: .9rem;
  margin: 1rem 0 ;
  opacity: .7;
}


@media screen and (max-width:600px) {
  .rightSide {
    width: 100vw;
  }
  
  
.WeatherDetails{
  max-height: 40vh;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 1rem;
}
  
  
}